* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    background-color: #464F54;
    font-family: 'Playfair Display', serif;
}

a {
    display: block;
}

section {
    background-color: white;
    margin: 150px 80px;
    box-shadow: 0 0 15px black;
}

article {
    margin-left: 60px;
    border-left: 2px solid #E8ECED;
}

.blocks {
    display: flex;
    flex-direction: column;
    float: right;
    align-items: flex-end;
    margin-top: -80px;
}

.black {
    float: right;
    background-color: #181818;
    width: 875px;
    height: 187px;
    padding-left: 64px;
    padding-top: 40px;
}

.black span {
    color: #777777;
}

.black {
    color: #fefefe;
}

.black h1 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 48px;
    text-transform: capitalize;
}

.black span {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 15px;
    letter-spacing: 3px;
}

.black hr {
    border: none;
    background-color: #303030;
    height: 4px;;
}

.yellow  {
    background-color: #F1B92B;
    width: 812px;
    height: 75px;
}

.yellow ul {
    display: flex;
    flex-wrap: wrap;
    padding: 23px 200px 23px 40px;
    justify-content: space-evenly;
}

.yellow li {
    transition: all ease-in-out 0.3s;
    list-style-type: none;
}

.yellow a {
    max-width: 27px;
    max-height: 28px;
}

.content {
    padding: 200px 70px 50px;
}

.author {
    font-size: 20px;
    opacity: 70%;
    letter-spacing: 2px;
}

.content h2 {
    font-size: 78px;
}

.add_info {
    font-size: 30px;
    font-style: italic;
    opacity: 60%;
}

.content_one, .content_two {
    font-size: 27px;
    font-family: 'Georgia', sans-serif;
    padding: 15px 3px;
}

.die {
    font-style: italic;
}

.yellow li {
    opacity: 0.5;
}

li:hover {
    opacity: 1;
}